<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>주문내역</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles2.css" rel="stylesheet" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="/fragment/navigation :: menu(${user})">

</nav>

<div class="container-fluid mt-3">
    <div class="row">

        <!-- SIDE BAR -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:replace="/fragment/navigation :: side(${user})">

        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">판매 현황</h1>
            </div>

            <div class="table-responsive" th:each="sale : ${saleList}" style="padding: 20px;">
                <h4>
                    <span th:text="'주문날짜 : ' + ${sale.getCreateDate()}"></span>
                </h4>
                <h3>
                    <span th:text="'주문번호 : ' + ${sale.id}"></span>
                    <span class="badge bg-secondary" th:text="${sale.status}" th:if="${sale.status == '주문 완료'}">주문 완료</span>
                    <span class="badge bg-success" th:text="${sale.status}" th:if="${sale.status == '배송 대기'}">주문 완료</span>
                    <span class="badge bg-info" th:text="${sale.status}" th:if="${sale.status == '배송중'}">주문 완료</span>
                    <span class="badge bg-primary" th:text="${sale.status}" th:if="${sale.status == '배송 완료'}">주문 완료</span>
                    <span class="badge bg-danger" th:text="${sale.status} + '진행'" th:if="${sale.status == '환불'}">주문 완료</span>
                    <span class="badge bg-danger" th:text="${sale.status}" th:if="${sale.status == '환불 완료'}">주문 완료</span>
                </h3>
                <h5>
                    <span th:text="'구매자 : ' + ${sale.user.username}"></span>
                </h5>
                <table class="table">
                    <thead class="bg-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">상품명</th>
                        <th scope="col">수량</th>
                        <th scope="col">가격</th>
                        <th scope="col">합계</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr th:each="item : ${sale.order_items}" th:if="${item.item.user} == ${user}">
                        <td th:text="${item.id}">아이템번호</td>
                        <td>
                            <a th:href="@{/item/view/{id}(id=${item.item.id})}"
                               th:text="${item.item.name}"></a>
                        </td>
                        <td th:text="${item.getCount()}">수량</td>
                        <td th:text="${item.price}">가격</td>
                        <td th:text="${item.price * item.count}">합계</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td  colspan="4"></td>
                        <td th:text="${sale.price}"> 총 가격</td>
                    </tr>
                    </tfoot>
                </table>
                <form th:action="@{/order/update/{id}(id=${sale.id})}" th:if="${sale.status != '환불' && sale.status != '환불 완료'}" method="post" class="d-flex">
                    <div class = "container">
                        <select name="status">
                            <option value="주문 완료">주문 완료</option>
                            <option value="배송 대기">배송 대기</option>
                            <option value="배송중">배송중</option>
                            <option value="배송 완료">배송 완료</option>
                            <option value="환불중">환불중</option>
                        </select>
                    </div>
                    <div class = "col-auto">
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            업데이트
                        </button>
                    </div>
                </form>
                <form th:action="@{/order/refund/{id}(id=${sale.id})}" th:if="${sale.status == '환불' && sale.status != '환불 완료'}" method="post" class="d-flex">
                    <div class = "container">
                        <select name="status" style="display: none">
                            <option value="환불 완료">환불 완료</option>
                        </select>
                    </div>
                    <div class = "col-auto" style="margin-right: 10px">
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit" th:formaction="@{/order/refund/{id}(id=${sale.id})}">
                            환불 처리
                        </button>
                    </div>
                    <div class = "col-auto">
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit" th:formaction="@{/order/refundCancle/{id}(id=${sale.id})}">
                            환불 거절
                        </button>
                    </div>
                </form>
            </div>
            <hr>
        </main>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>